* {
    padding:0;
    margin: 0;
   /* border-width: 1px;
    border-color: red;
    border-style: solid; */

}

ul {
    list-style-type: none;
}

button {
    padding: 3px 15px;
    border: none;
    font: inherit;
    outline: inherit;
    border-radius: 4px;
    color:#E5E7EB;
}

h1, h2, h3 {
    font-family: 'Syne';
    font-weight: 800;
}

body {
    font-family: 'Roboto', 'Inter', 'Helvetica Neue', sans-serif;
    display:flex;
    flex-direction: column;
}

.hero-text {
    margin-top: 12px;
    margin-bottom: 12px;
}

.header, footer, .hero-section {
    background-color:#1F2937;
}

figure {
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 100px;
}

.newsletter {
    background-color: #3882F6;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px 5% 20px 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.newsletter button {
    background-color: #3882F6;
    border-color: #E5E7EB;
    border-width: 2px;
    border-style: solid;
    flex: 0 0 0;
    margin: 10px 0px 0px 50px;

    
}

.subscribe-block {
    flex: 1;
}

footer, .hero-section, figure, .info {
    padding-left: 20%;
    padding-right: 20%;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 2%;
    padding-right: 2%;

}

.logo{
    color: #e5e7eb;
    font-family: 'Syne Mono';
    font-size: 18px;
    font-weight:300;
    display: flex;
    align-items: center;
}

.header-links {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-section {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    color: #F9FAF8;
}

.hero-section div {
    flex: 1;
}

.hero-block {
    display: flex;
    flex-direction: column;
}

.hero-block p {
    flex:1;
}

.hero-block button {
    background-color: #3882F6;
    padding: 1,5 em;
    align-self: flex-start;

}

.hero-img {
    width:100%;
    height:auto;
    min-width: 287px;
}

.info {
    padding-bottom: 100px;
} 

.info h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.info ul {
    display: flex;
    gap: 15px;
}

.info ul li {
    flex: 1;
}

.info ul li img {
    width: 100%;
    height:auto;
}

.info ul li h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

blockquote {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    padding-bottom: 20px;
}

figcaption {
    text-align: end;
}
